<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">短域名</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/"> 首页 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/debug"> Debug </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    {% block body %}
    {% endblock body %}
    </div>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
